   * {
    margin: 0;
    padding: 0;
    }
    .logo{
        font-family: "Borel", cursive;
        font-weight:400;
        font-style: normal;
        color:rgb(255, 255, 255);
        margin-top: 25px;
      }
    body {
    display: block;
    background-color:rgb(64 85 72);
    font-family: "Poppins", sans-serif;
    color: white;
    }
    nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    font-weight: 500;
    padding: 10px;
    }
    nav{
    display: flex;
    position: sticky;
    }
    .logo {
    font-size: 2rem;
    }
   
    section {
    /* border: solid 0.5px grey; */
    padding: 5%;
    box-sizing: border-box;
    min-height: fit-content;
    }  
    .pic{
    height: 400px;
    width: 400px;
    margin: 15px;
    }  
    /* .txt {
    align-self: center;
    text-align: center;
    display: inline-flexbox;
    
    
   
    }  */
    .pic img {
    overflow-clip-margin: content-box;
    overflow: clip;
    clip-path: circle(50%);
    }
    .btn{
    display: flex;
    justify-content: center;
    gap: 1rem;
    }
    a{
    text-decoration: none;
    color: white;
    }
    .links li{
        display: inline-block;
        padding: 4px;
    }
    .links li a:hover{
        color:white;
        background-color: rgb(108, 100, 100);
        border-radius: 5px ;
        border: solid 0.5px white;
        padding: 4px;
    }
    #cnt{
        background-color: rgb(255, 57, 57);
        color: white;
        padding: 4px;
        border-radius: 5px;
        margin-left: 1px;
    }
    #cnt:hover{
        color:rgb(255, 57, 57);
        background-color: rgb(255, 240, 240);
    }
    #ct{
        text-align: center;
        background-color:rgb(51, 47, 47);
        color: white;
        padding: 5px;
    
    }
    #abt{
        text-align: center;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    button{
        background-color:rgb(255, 57, 57);
        color: rgb(252, 252, 252);
        border-radius: 8px;
        padding: 6px;
        margin: 5px;
        font-weight: 600;
    }
    button:hover{
        background-color:white;
        color: rgb(255, 57, 57);
    }
    .fi{
       font-size: smaller;
       font-size: 13px;
    }
    .se{
        font-size: 16px;
        font-family: monospace;
        margin-bottom: 8px;
    }
    h1{
        font-weight: bold;
        text-align: center;
    }
    .contacts{
        padding: 5px;
        text-align: center;}
    .ending{
        text-align: center;
        padding: 20px 30px 20px 30px;
    }
    .socialbtns, .socialbtns ul, .socialbtns li {
        margin:0px;
        padding: 5px;
      }
      
      .socialbtns li {
          list-style: none outside none;
          display: inline-block;
      }
      
      .socialbtns .fa {
          width: 40px;
          height: 28px;
          color:  rgb(51, 47, 47);
          background-color: #FFF;
          border: 1px solid rgb(51, 47, 47);
          padding-top: 12px;
          border-radius: 22px;
      }
      .socialbtns .fa:hover {
          color: #FFF;
          background-color: rgb(51, 47, 47);
          border: 1px solid  rgb(51, 47, 47);
      }
      .socialbtns li a{
        text-decoration: none;
      }
      #footer{
          background-color: rgb(51, 47, 47);
          margin: 0px;
          margin-bottom: 0px;
          padding: 0px;
      }
      .port-text {
        padding: 2rem 0;
        text-align: center;
      }
      
      .portfolios {
        display:inline-flex;
        flex-direction: row;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        margin-top: 3rem;
      }
      .portfolios .portfolio-item {
        position: relative;
        border-radius: 15px;
      }
      .portfolios .portfolio-item img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 15px;
      }
      .portfolios .portfolio-item .hover-items {
        width: 100%;
        height: 100%;
        background-color: var(--color-secondary);
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transform: scale(0);
        transition: all 0.4s ease-in-out;
      }
      .portfolios .portfolio-item .hover-items h3 {
        font-size: 1.5rem;
        color: var(--color-white);
        margin-bottom: 1.5rem;
      }
      .portfolios .portfolio-item .hover-items .socialbtns {
        background-color: var(--color-primary);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        margin:0px;
        padding: 5px;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        font-size: 1rem;
        text-align: center;
        color: var(--color-white);
        list-style: none outside none;
      }
      .portfolio-item:hover .image {
        opacity: .5;
        transform: scale(1);
      }
      .portfolio-item:hover .hover-items {
        opacity:1;
        transform: scale(1);
      }
      
      .skills{
        padding: 5rem 0 2.5rem 0;
    }
    .skills .row{
        margin: 1rem 0;
    }
    .skills .item{
        padding: 0.5rem 0;
        margin: 0.3rem 0;
    }
    .skills .item-text{
        display: flex;
        justify-content: flex-start;
        font-weight: 600;
        font-size: 1.3rem;
        position: relative;
    }
    .skills .item-text span:last-child{
        position: absolute;
    }
    .skills .item-text .w-90{
        margin-left: 85%;
    }
    .skills .item-text .w-75{
        margin-left: 70%;
    }
    .skills .item-text .w-85{
        margin-left: 80%;
    }
    .skills .item-text .w-80{
        margin-left: 75%;
    }
    .skills .item-text .w-60{
        margin-left: 55%;
    }
    .skills .item-text .w-68{
        margin-left: 63%;
    }
    .progress{
        margin: 0.8rem 0;
        border-radius: 10px;
        height: 16px;
        width: 100%;
        background-color: var(--nero);
        overflow: hidden;
    }
    .progress-bar{
        background: var(--green);
        height: 100%;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
    .progress-bar.w-95{
        width: 95%;
    }
    .progress-bar.w-75{
        width: 75%;
    }
    .progress-bar.w-60{
        width: 60%;
    }
    .progress-bar.w-90{
        width: 90%;
    }
    .progress-bar.w-40{
        width: 40%;
    }
    .progress-bar.w-20{
        width: 20%;
    }
    

    :root{
      --poppins: 'Poppins', sans-serif;
      --sans: 'Open Sans', sans-serif;
      --green: #a2db97;
      --black: #111;
      --nero: #252525;
      --transition: all 0.4s ease;
  }
